
<div class="contact-detail-container">
    <h3>{{ data.contact.name }} {{ data.contact.last_name }}</h3>
    <form class="contact-detail-container-child" [formGroup]="contactDetailForm">
      <mat-form-field>
          <input type="email" matInput formControlName="email">
          <mat-icon class="contact-detail-info-icon" matSuffix>email</mat-icon>
      </mat-form-field>
  
      <mat-form-field>
          <input type="email" matInput formControlName="phone">
          <mat-icon class="contact-detail-info-icon">phone</mat-icon>
      </mat-form-field>
  
      <mat-form-field>
          <input type="email" matInput formControlName="address">
          <mat-icon class="contact-detail-info-icon">location_on</mat-icon>
      </mat-form-field>
    </form>
  </div>

