<div class="contact-detail-container">
    <h3>nombre apellido</h3>
    
    <div class="contact-detail-container-child">
        <div class="contact-detail-container-info">
            <mat-icon class="contact-detail-info-icon">email</mat-icon> <h4>correo</h4>
        </div>

        <div class="contact-detail-container-info">
            <mat-icon class="contact-detail-info-icon">phone</mat-icon> <h4>número</h4>
        </div>

        <div class="contact-detail-container-info">
            <mat-icon class="contact-detail-info-icon">location_on</mat-icon> <h4>direccion</h4>
        </div>
    </div>
</div>