
<div>

    <div class="item-contact-container" *ngFor="let contact of contactsData">

        <p>{{ contact.name }}</p>
    
        <div class="item-contact-container-buttons">
            <button id="item-contact-button-1" mat-flat-button>Ver más</button>
    
            <button id="item-contact-button-2" mat-flat-button>
                <mat-icon id="item-contact-buttons-icons">edit</mat-icon>
            </button>
    
            <button id="item-contact-button-3" mat-flat-button (click)="inactiveContact(contact.contact_id )">
                <mat-icon id="item-contact-buttons-icons">delete</mat-icon>
            </button>
        </div>
    </div>

</div>



