<div>

    <div class="item-contact-container" *ngFor="let record of recordData">

        <p>{{ record.name }}</p>
    
        <div class="item-contact-container-buttons">
            <button id="item-contact-button-2" mat-flat-button>
                <mat-icon id="item-contact-buttons-icons">restore</mat-icon>
            </button>
    
            <button id="item-contact-button-3" mat-flat-button>
                <mat-icon id="item-contact-buttons-icons">delete</mat-icon>
            </button>
        </div>
    </div>

</div>

