<div class="dashboard-container">

    <button mat-button class="dashboard-btn-logout" (click)="logout()">
        <mat-icon id="dashboard-btn-logout-icon">logout</mat-icon>
    </button>
    
    <figure class="border-top-image">
        <img src="assets/images/border-top.png" alt="Borde esquinero superior" class="border-img">
    </figure>

    <figure class="border-bot-image">
        <img src="assets/images/border-down.png" alt="Borde esquinero inferior" class="border-img">
    </figure>


    <div class="dashboard-container-child">

        <app-header></app-header>

        <div class="table-container">

            <mat-tab-group id="table-container-child">
                <mat-tab label="Contactos"> <app-contacts></app-contacts> </mat-tab>
                <mat-tab label="Historial"> <app-record></app-record> </mat-tab>
            </mat-tab-group>

            <button id="item-contact-button-4" mat-flat-button>Añadir contacto</button>
        
        </div>

    </div>

</div>
    
